legacy-peer-deps=false

# Support multi-platform builds (darwin arm64 local + linux x64 CI/CD)
supported-architectures-os[]=darwin
supported-architectures-os[]=linux
supported-architectures-cpu[]=arm64
supported-architectures-cpu[]=x64
